.main-wrapper,
.leaks-screen,
.no-leaks-screen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.hidden {
  display: none !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

.id-check-button {
  margin-top: 50px;
}

.id-input-list-wrapper {
  margin-top: 50px;
}

.id-input-list {
  display: flex;
  flex-direction: column;
}

.leaked-ids-list {
  display: flex;
  flex-direction: column;
}
